.card-home {
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  margin: 25px;
  transform: translateY(100px);
  width: 300px;
  height: 390px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .card_home_img {
    margin-top: 15px;
    width: 100%;
    height: 150px;
    overflow: hidden;
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }

  .card_home_content {
    width: 90%;
    margin-top: 14px;
    margin-left: 10%;
    height: 200px;
    p {
      font-size: 16px;
      font-weight: 500;
      text-transform: capitalize;
    }

    .card_home_content_1{
      display: flex;
      .tinhtrnag{
        margin-left: 10px;
        transform: translateY(3px);
        width: 100px;
        height: 20px;
      }
    }

    

    span {
        color: #e55039;
      }

    .card_home_content_buton {
      margin-top: 15px;
      display: flex;
      button {
        cursor: pointer;
        border: none;
        outline: none;
        color: #000;
        border: 2px solid #3498db;
        font-weight: 600;
        padding: 12px 20px;
        border-radius: 6px;
      }
     
      button:nth-child(1):hover {
        color: #fff;
        background-color: #3498db;
      }
      button:nth-child(2) {
        margin-left: 20px;
      }
      button:nth-child(2):hover {
        color: #fff;
        margin-left: 20px;
        background-color: #eb2f06;
      }
    }
  }
}
